body {
  margin: 0;
  padding: 0;
}


#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form_container {
  height: 1000px;
}

.img_container{
  display: flex;
  justify-content: space-between;
}


.img {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-right: 16px;
}

.final_container {
  display: flex;
  justify-content: space-between;
} 