body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
	font-family: "Open Sans";
	font-size: 15px;
  color: #4d4d4d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  color: #ff0000;
}


.form_container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column
}

span {
  word-wrap: normal;
}



/*Buttons*/

button {
	background-color: white;
	border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:focus, input:focus {
	outline: none;
	border: 1px solid #B8B8B8;
}

.buttons_container{
  margin-bottom: 16px;
	font-weight: bold;
	margin-top: 50px;
  color: #bbbbbb;
}


.top_button {
	width: 40px;
	height: 40px;
  margin-right: 8px;
  color: #C0C0C0;
  font-weight: 600;
  cursor: pointer;
}

.isActive{
  color: #000000;
}

.isCompleted{
  color: #ff9800;
}


.btn {
  margin-top: 150px;
  width: 120px;
	color: #ff9800;
  padding: 6px;
  font-weight: 500;
}

.btn:hover{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.btn_special{
  background-color:  #ff9800;
  color: #fff;
}



.bottomButtons_container button:first-child {
	margin-right: 12px;
}





/*Input name, email, country and city*/

.input-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 199%;
}

.error{
  margin-left: 10px;
  
}

input[type=text], select {
  height: 15px;
  display: block;
	color: #bbbbbb;
	border-radius: 2px;
	margin-top: 16px;
	padding: 12px;
	width: 250px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.valid {
  border: 1px solid #ccc;
  color: #bbbbbb;
}

.invalid {
  border: 1px solid #ff0000;
}










/*SOCIAL NETWORKS*/

.social_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 200%;
}


.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 208px;
  margin-top: 20px;
}

.right{
  margin-left: 10px;
  width: 100%;
}

.left{
  padding-top: 1%;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 52px;
  line-height: 52px;
  width: 100%;
}

.checkbox-group .error{
  margin-top: 2%;
}

input[type=checkbox]{
  width: auto;
  height: auto;
  margin-right: 7px;
}

.socialInput{
  max-width: 220px;
}








/*CHOOSE AVATAR*/

.fourthStep_container{
  align-self: center;
}

.img_container{

  display: flex;
  justify-content: space-between;
}

.img_container div {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
  margin-right: 16px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.img_container div:hover{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.imgActive{
  border: 1px solid #ff9800;
}






/*FINAL*/
.final_container {
  padding: 24px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  word-wrap: normal;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
} 

.final_data{
  min-width: 200px;
  margin-right: 24px;
  font-family: "Open Sans";
}

.final_title{
  font-size: 20px;
  font-weight: 600;
}

.final_image{
  width: 200px;
  height: 195px;
  background-position: 50% 50%;
	background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.reset_btn{
  margin-top: 32px;
  padding: 10px;
}



@media (max-width: 768px){
  body{
    font-size: 14px;
  }

  .form_container {
    width: 250px;
  }

  .buttons_container{
    margin: 0; 
  }

  .top_button {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    font-weight: 500;
  }


  input[type=text], select {
    font-size: 12px;
    margin: 16px 1px 0 0;
    padding: 10px;
    width: 180px;
  }

  .error{
    font-size: 12px;
  }

  .btn {
    margin-top: 50px;
    padding: 8px;
    font-size: 10px;
    width: 90px;
  }

  td input[type=text]{
    width: 150px;
    padding: 6px 10px 6px 10px;
  }

  .img_container div {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }


  .final_container {
    padding: 12px;
    font-size: 12px;
  } 
  
  .final_title{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .final_data{
    margin-right: 16px;
  }

  .final_image{
    width: 133.3px;
    height: 130px;
  }

}


@media (max-width: 480px){

  body{
    font-size: 12px;
  }

  .buttons_container{
    margin: 0; 
  }

  .form_container {
    width: 200px;
  }

  input[type=text], select {
    font-size: 12px;
    margin: 16px 1px 0 0;
    padding: 8px;
    width: 160px;
  }

  .top_button {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    font-weight: 500;
  }

  .btn {
    margin-top: 50px;
    padding: 4px;
    font-size: 8px;
    width: 65px;
  }

  .img_container img {
    width: 50px;
    height: 50px;
    margin-right: 6px;
  }

  td input[type=text]{
    font-size: 8px;
    width: 100px;
    padding: 6px 8px 6px 8px;
  }

  .reset_btn{
    margin-top: 32px;
    padding: 6px;
    font-size: 8px;
  }

  .final_container {
    padding: 8px;
    font-size: 8px;
    flex-direction: column-reverse;
    align-items: center;
  } 

  .final_title{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 600;
  }

  .final_data{
    min-width: 80px;
    font-family: "Open Sans";
  }


  .final_image{
    width: 66.6px;
    height: 65px;
  }

}


